body {
  font-family: "Helvetica", sans-serif;
}

.container {
  text-align: center;
}

.stopwatch {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
}

.frame {
  background-color: #c2c2d6;
  border: 1px solid black;
  border-radius: 10px;
  width: 450px;
  height: 350px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.clockFace {
  background-color: white;
  border: 1px solid black;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  height: 100px;
  z-index: 3;
  vertical-align: middle;
  bottom: 0px;
  font-size: 90px;
}

.grayedOut {
  color: gray;
}

.button {
  background-color: white;
  border: 1px solid black;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  display: inline-block;
  z-index: 1;
  font-size: 20px;
}

button.selector {
  background-color: #9494b8;
  border: 0px solid black;
  margin: 0px;
  width: 225px;
  height: 45px;
  display: inline-block;
  z-index: 1;
  font-size: 20px;
  border-bottom: 1px solid black;
}

button.selector.left {
  border-radius: 10px 0 0 0;
}

button.selector.right {
  border-radius: 0 10px 0 0;
}

button.selector.highlighted {
  border-bottom: 4px solid #0000ff;
  color: #0000ff;
  background-color:
}

.smallTime {
  font-size: 44px;
}


.patrick {
  height: 90%;
  width: 90%;
}



table {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  background-color: #c2c2d6;
  margin-top: 15px;
  margin-left: 87.5px;
  width: 250px;
}

tbody {
  height: 254px;
  width: 250px;
  display: block;
  overflow: auto;
}

td {
  border: 1px solid black;
  width: 100px;
  border-radius: 0px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 16px;
}
